.About,
.About--mobile {
    display: grid;
}
.About {
    min-height: 100vh;

    grid-template-areas: 
    "header header"
    "left right";
    grid-template-rows:
    fit-content(100%)
    fit-content(100%);
}
.About--mobile {
    grid-template-areas: 
    "header"
    "left"
    "right";
    grid-template-rows:
    fit-content(100%)
    fit-content(100%)
    fit-content(100%);
}

.About > .Header {
    grid-area: header;
}
.About-left {
    grid-area: left;
}
.About-right {
    grid-area: right;
    text-align: center;
}
.About-right > img {
    margin-top: 2.5em;
    width: calc(280px + 8vw);
}
.About--mobile .About-right {
    margin: 3em 0;
}