.Contact {
    padding-bottom: 3em;
}
.Contact-content {
    margin: 3em 0;
    max-width: none;
}

.Contact-footer {
    display: grid;
    row-gap: 1em;
    justify-items: center;
    margin-top: 5em;

    text-align: center;
    font-weight: var(--fontWeight-light);
}
.Contact-footer-attributions,
.Contact-footer-attributions a {
    font-size: 0.8rem;
}
.Contact-footer-attributions {
    margin-top: 1em;
}