.Home,
.Home--mobile {
    position: relative;
    display: grid;
}
/* 80px == Nav height */
.Home {
    min-height: 80vh;

    grid-template-areas: 
    "left right";
}
.Home--mobile {
    grid-template-areas: 
    "left"
    "right";
}

.Home-header {
    position: relative;
    display: grid;
    margin: calc(2.4rem + 1vh) 0;

    font-size: calc(3rem + 1vw);

    grid-template-rows: 
    fit-content(100%)
    fit-content(100%);
}
.Home-text {
    position: relative;
    font-size: calc(1.3rem + 0.5vw);
    margin: calc(1.5em + 1vh) 0;
}