.Header {
    position: relative;
    display: inline-block;
    width: fit-content;
    margin: 1.5em 0;
}
.Header-text {
    position: relative;
    margin: 0;
    z-index: var(--zIndex-2);
}
.Header-underline {
    position: absolute;
    z-index: var(--zIndex-1);

    width: 62%;
    height: 10px;
    background-color: var(--color-link);

    bottom: 0.3rem;
    left: 0;
}

.InlineLink {
    position: relative;

    > a {
        color: var(--color-link);

        text-decoration: none;
        font-size: var(--fontSize-text);
        font-weight: var(--fontWeight-bold);
    }

    .InlineLink-underline {
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--color-link);
        visibility: hidden;
        
        transition: all var(--msecs-300) ease-in-out;
    }

    &:hover .InlineLink-underline {
        visibility: visible;
        width: 100%;
    }
}

.SkillList {
    display: grid;
    grid-template-columns: 
    fit-content(100%)
    auto;

}
/*
.SkillList-icon             Wrapper for svg
.SkillList-icon > svg       Actual svg element
.SkillList-content          The content for each paragraph
*/
.SkillList {
    max-width: 540px;
}
.SkillList-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: calc(65px + 0.4vw);
    height: calc(65px + 0.4vw);

    border-radius: 0.8em;
}
.SkillList-icon > svg {
    width: calc(45px + 0.4vw);
    height: calc(45px + 0.4vw);
}

.app .SkillList-icon:hover {
    cursor: pointer;
    background-color: var(--color-icon-overlay-light);
    transition: var(--msecs-300) ease-in-out;
}
.app--dark .SkillList-icon:hover {
    cursor: pointer;
    background-color: var(--color-icon-overlay-dark);
    transition: var(--msecs-300) ease-in-out;
}

.app .SkillList-icon--selected {
    background-color: var(--color-icon-overlay-light);
}
.app--dark .SkillList-icon--selected {
    background-color: var(--color-icon-overlay-dark);
}



.SkillList-content {
    position: relative;
    margin: 0 2em;
}
.SkillList-content-item {
    position: absolute;
    top: 0;
    width: 100%;
}
.SkillList-content-item-header {
    text-align: center;
    margin: 0;
}
.SkillList-content-item-list {
    list-style-type: none;
    padding: 0;

    display: grid;
    row-gap: 5px;
}
.SkillList-content-item-list li {
    font-size: var(--fontSize-text);
    font-weight: var(--fontWeight-light);
}   
.SkillList sup {
    font-size: 0.8rem;
}


/*

*/
.Timeline {
    padding: 0;
    list-style-type: none;

    display: grid;
    row-gap: 6em;
}
.TimelineBullet {
    font-size: var(--fontSize-text);
}
.TimelineBullet-inner {
    display: inline-grid;
    grid-auto-flow: column;
    align-items: center;
}
.TimelineBullet-bullet {
    width: 0.4em;
    height: 0.4em;

    border-radius: 50%;

    margin-right: 0.5em;
}
.TimelineBullet--work .TimelineBullet-bullet {
    background-color: var(--color-text-work);
}
.TimelineBullet--education .TimelineBullet-bullet {
    background-color: var(--color-text-education);
}
.TimelineBullet--personal .TimelineBullet-bullet {
    background-color: var(--color-text-personal);
}

.TimelineBullet-date,
.TimelineBullet-text {
    font-weight: var(--fontWeight-light);
}
.TimelineBullet-date {
    margin: 0 0.8em;
    width: 90px;
}
.TimelineBullet-text {
    margin-left: 0.8em;
    vertical-align: bottom;
}
.TimelineBullet-text-bold {
    font-weight: var(--fontWeight-bold);
}
.TimelineBullet--work,
.TimelineBullet--work .TimelineBullet-text-bold,
.TimelineBullet--work .TimelineBullet-text-bold a  {
    color: var(--color-text-work);
}
.TimelineBullet--education,
.TimelineBullet--education .TimelineBullet-text-bold,
.TimelineBullet--education .TimelineBullet-text-bold a {
    color: var(--color-text-education) !important;
}
.TimelineBullet--personal,
.TimelineBullet--personal .TimelineBullet-text-bold,
.TimelineBullet--personal .TimelineBullet-text-bold a {
    color: var(--color-text-personal);
}
.app .TimelineBullet-text,
.app .TimelineBullet-date {
    color: var(--color-text-light);
}
.app--dark .TimelineBullet-text,
.app--dark .TimelineBullet-date {
    color: var(--color-text-dark);
}

/*
.
*/
.ProjectCard {
    display: grid;

    grid-template-areas:
    "header github"
    "status status"
    "description description"
    "tags tags";

    max-width: calc(350px + 10vw);
    width: 100%;
    padding: 0.5em 1.2em;
    border-radius: 6px;

    margin: 1em 0;
}
.app .ProjectCard {
    background-color: var(--color-card-bg-light);
}
.app--dark .ProjectCard {
    background-color: var(--color-card-bg-dark);
}
.ProjectCard-header {
    grid-area: header;

    margin: 0.5em 0;    
}
.ProjectCard-github {
    grid-area: github;

    width: fit-content;
    justify-self: end;
    align-self: center;
}
.ProjectCard-github > svg {

    width: 1.8em;
    height: 1.8em;

    &:hover {
        cursor: pointer;
        fill: var(--color-link);

        transition: var(--msecs-300) fill ease-in-out;
    }
}


.ProjectCard-status {
    grid-area: status;
}
.ProjectCard-status-label {
    font-weight: var(--fontWeight-semiBold);
    margin-right: 0.6em;
}

.ProjectCard-description {
    grid-area: description;
}
.ProjectCard-status,
.ProjectCard-description {
    margin: 0.6em 0;
}
.ProjectCard-tags {
    grid-area: tags;

    list-style-type: none;
    padding: 0;

    display: flex;
}
.ProjectCard-tag {
    width: fit-content;
    margin-right: 0.8rem;
}