.header {
    @apply fixed top-0 z-30;
    @apply w-full;
}

.header-bg {
    @apply absolute top-0 left-0;
    @apply w-full h-full;
    @apply backdrop-blur-sm;
}

.header-topbar {
    @apply relative;
    @apply flex;
    @apply items-center justify-between;
    @apply p-6;
}

.header-logo {
    @apply z-50;
}

.header-logo img {
    width: 40px;
}

.header-sidebar-links {
    @apply flex flex-col;
    @apply space-y-8;
}

.header-sidebar-links-item {
    @apply flex-1;
    @apply duration-300;

    writing-mode: vertical-rl;
    transform: translateY(0) rotate(180deg);

    &:hover {
        transform: translateY(-4px) rotate(180deg);
    }
}

.header-nav {
    @apply relative;
    @apply flex items-center justify-between;
    @apply px-4 py-4;
}

.header-nav-links {
    @apply hidden md:flex;
    @apply space-x-4;
}

.header-nav-links > li {
    @apply flex-1;
    @apply text-white;
}

.header-menu-button {
    @apply inline-block md:hidden;
    @apply text-white;
    @apply z-50;
}

.header-sidebar {
    @apply absolute top-0 right-0;
    @apply flex;
    @apply items-center justify-end;
    @apply h-screen;
    @apply px-4 py-6;
    @apply text-white;
    @apply duration-300;
    @apply bg-slate-800;
    @apply z-40;

    max-width: 320px;
    width: 70vw;
}

.header-sidebar[aria-hidden='true'] {
    @apply translate-x-full;
}

.header-sidebar[aria-hidden='false'] {
    @apply translate-x-0;
}

.header-sidebar > nav {
    @apply flex flex-col;
    @apply items-center;
    @apply space-y-4;
    @apply w-full;
}
