# Project directories
node_modules/
dist/
build/

# Bundler configs
vite.config.ts

# Code Style configs
.eslintrc.cjs

# TailwindCSS configs
tailwind.config.cjs
postcss.config.cjs

# Declaration files
env.d.ts
vite-env.d.ts