.compact-card {
    @apply flex flex-col;
    @apply bg-slate-800;
    @apply cursor-pointer;
    @apply mx-2;
    @apply my-2;

    max-width: 300px;
}

.compact-card__container {
    @apply flex flex-col;
}

.compact-card-content {
    @apply px-3;
    @apply py-3;
}

.compact-card-title {
    @apply text-base;
    @apply tracking-tight;
    @apply font-medium;
    @apply uppercase;
}

.compact-card-subtitle {
    @apply text-sm;
    @apply font-light;
    @apply uppercase;
}

.compact-card-body {
    @apply text-xl;
}

.compact-card-footer {
    @apply mt-2;

    & > * {
        @apply text-sm;
        @apply font-light;
        @apply uppercase;
    }
}
