.expanded-card {
    @apply relative;
    @apply w-full;
    @apply z-50;
    @apply bg-slate-800;
    @apply rounded-lg;
    @apply overflow-y-scroll;
    @apply mx-6;
    max-width: 600px;
    height: 80vh;
}

.expanded-card__close-button {
    @apply absolute;
    @apply top-4 right-4;
}

.expanded-card__content {
    @apply flex flex-col;
}

.expanded-card__content__header {
    @apply relative;
    @apply flex flex-col;
}

.expanded-card__content__header__overlay {
    @apply absolute;
    @apply top-0 right-0;
    @apply w-full;
    @apply h-full;
    background-color: rgba(0, 0, 0, 0.2);
}

.expanded-card__content__header__background-image {
    @apply w-full;
}

.expanded-card__content__header__icon-image__container {
    @apply absolute;
    @apply bottom-0;
    @apply flex;
    @apply justify-center;
    @apply w-full;
    @apply translate-y-1/2;
}

.expanded-card__content__header__icon-image {
    @apply w-28;

    & > img {
        @apply rounded-full;
    }
}

.expanded-card__content__body {
    @apply flex flex-col;
    @apply space-y-6;
    @apply px-10;
    @apply pt-16 pb-10;
}

.expanded-card__content__body__header {
    @apply flex flex-col;
    @apply space-y-1;

    & > h4 {
        @apply text-xl;
        @apply font-medium;
        @apply tracking-tighter;
        @apply uppercase;
    }

    & > h5 {
        @apply text-base;
        @apply font-light;
        @apply uppercase;
    }

    & > span {
        @apply text-sm;
        @apply font-light;
    }
}

.expanded-card__content__body__description {
    @apply text-base;
    @apply font-light;
}
