@import url("https://use.typekit.net/jsk6xeq.css");

:root {
    --color-bg-overlay: rgba(10, 10, 10, 1.0);
    --color-link: rgb(90, 180, 231);
    --color-link-overlay: rgba(90, 180, 231, 0.2);
    --color-link-shadow: rgba(90, 180, 231, 0.5);
    --color-border: rgb(51, 51, 51);
    --color-border-overlay: rgba(243, 243, 243, 0.3);

    --color-text-personal: rgb(132, 144, 254);
    --color-text-work: rgb(214, 138, 221);
    --color-text-education: rgb(148, 224, 187);

    /* Light Mode Colors */
    --color-bg-light: rgb(255, 255, 255);
    --color-bg-light-sidebar: rgb(131, 131, 131);
    --color-border-light: rgb(112, 112, 112);
    --color-text-light: rgb(0, 0, 0);
    --color-icon-overlay-light: rgba(151, 151, 151, 0.4);
    --color-card-bg-light: rgb(228, 228, 228);


    /* Dark Mode Colors */
    --color-bg-dark: rgb(7, 20, 27); 
    --color-bg-dark-sidebar: rgb(2, 6, 8);
    --color-border-dark: rgb(201, 201, 201);
    --color-text-dark: rgb(255, 255, 255);
    --color-icon-overlay-dark: rgba(28, 78, 105, 0.493);
    --color-card-bg-dark: rgb(17, 36, 47);
    --color-card-nav-bg-dark: rgba(17, 36, 47, 0.9);


    /* Font Styles */

    --fontWeight-thin: 100;
    --fontWeight-light: 300;
    --fontWeight-regular: 400;
    --fontWeight-semiBold: 600;
    --fontWeight-bold: 700;
    --fontWeight-extraBold: 900;

    --fontSize-logo: calc(36px + 0.5vw);
    --fontSize-h1: 64px;
    --fontSize-h2: calc(2em + 0.5vw);
    --fontSize-nav: 20px;
    --fontSize-text: calc(0.9rem + 0.2vw);


    --zIndex-1: 100;
    --zIndex-2: 200;
    --zIndex-3: 300;
    --zIndex-4: 400;
    --zIndex-5: 500;
    --zIndex-6: 600;
    --zIndex-7: 700;
    --zIndex-8: 800;
    --zIndex-9: 900;

    --width-mobile-sidebar: 250px;

    /* Duration in milliseconds */
    --msecs-100: 0.1s;
    --msecs-200: 0.2s;
    --msecs-300: 0.3s;
    --msecs-400: 0.4s;
    --msecs-500: 0.5s;
    --msecs-600: 0.6s;
    --msecs-700: 0.7s;
    --msecs-800: 0.8s;
    --msecs-900: 0.9s;
    --msecs-1000: 1s;
}

/*
Classes to force a display setting
*/
.d-none {
    display: none !important;
}
.d-block {
    display: block !important;
}
.d-iblock {
    display: inline-block !important;
}
.d-flex {
    display: flex !important;
}
.d-iflex {
    display: inline-flex !important;
}
.d-grid {
    display: grid !important;
}
.d-igrid {
    display: inline-grid !important;
}

.fw-bold {
    font-weight: var(--fontWeight-bold);
}


html {
    margin: 0;
    scroll-behavior: smooth;   
}
body {
    margin: 0;
    overflow-x: hidden;

    font-family: "lato", sans-serif;
}
label {
    font-weight: 300;
}
pre {
    font-family: "lato", sans-serif;
}
h1 {
    font-size: var(--fontSize-h1);
    font-weight: var(--fontWeight-extraBold);
}
h2 {
    font-size: var(--fontSize-h2);
    font-weight: var(--fontWeight-extraBold);
}
h3 {
    font-size: 24px !important;
    font-weight: var(--fontWeight-bold);
    color: var(--color-text);
}
p {
    font-size: var(--fontSize-text);
    font-weight: var(--fontWeight-light);
    max-width: 480px;
    line-height: 160%;

    margin: 1.5em 0;
}


/*
Application styles

.app                    Light Theme (default)
.app--dark              Dark Theme
*/
.app,
.app--dark {
    position: relative;
    
    min-height: 100vh;
    height: 100%;
    width: 100vw;
}
.app,
.app a {
    background-color: var(--color-bg-light);
    color: var(--color-text-light);
}
.app--dark,
.app--dark a {
    background-color: var(--color-bg-dark);
    color: var(--color-text-dark);
}
.app--dark .button {
    background-color: var(--color-bg-dark);  
}
.app-inner {
    width: 88%;
    margin: 0 auto;
}
.app .app-theme-toggle {
    border: 2px solid var(--color-border-light);
    background-color: var(--color-bg-light);
}
.app--dark .app-theme-toggle {
    border: 2px solid var(--color-border-dark);
    background-color: var(--color-bg-dark);
}
.app-theme-toggle {
    position: fixed;
    bottom: 2.5em;
    right: 1.5em;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: var(--msecs-200) bottom ease-in-out;
    z-index: 900;
}
.app-theme-toggle:hover {
    cursor: pointer;
    border-color: var(--color-link);
    transition: var(--msecs-300) border-color, var(--msecs-200) bottom ease-in-out;
}
.app-theme-toggle--hidden {
    bottom: -100%;
    transition: var(--msecs-200) bottom ease-in-out;
}
.app-theme-toggle > img {
    width: 35px;
}


/*
The website's logo

rbondoc

.Logo-initials          My first and last initials - "rb"
.Logo-remaining         The remaining part of the logo - "ondoc"
*/
.Logo {
    font-size: var(--fontSize-logo);
}
.Logo:hover {
    cursor: pointer;
}
.Logo-initials {
    color: var(--color-link);
    font-weight: var(--fontWeight-semiBold);
}
.Logo-remaining {
    font-weight: var(--fontWeight-thin);
    transition: 0s color;
    letter-spacing: 2px;
}