$color-rose: theme('colors.rose.600');
$fontSize-lg: theme('fontSize.lg');
$fontSize-base: theme('fontSize.base');

.solid-button {
    @apply inline-block;
    @apply text-rose-600;
    @apply border-rose-600 border-2;
    @apply rounded-md;
    @apply px-5 py-3;
    @apply duration-500;
    font-size: clamp($fontSize-base, 5vw, $fontSize-lg);

    &:focus,
    &:hover {
        @apply text-white;
        box-shadow: inset 15em 0 0 0 $color-rose;
    }
}
