.section-header {
    @apply inline-block;
    @apply relative;
}

.section-header__text {
    @apply text-5xl;
    @apply font-extrabold;
    @apply text-light;
}

/* .section-header__container::before {
    @apply top-0 left-0;
    @apply border-l-2 border-t-2 border-dark;
    @apply dark:border-light;
} */


/* 
.section-header__text::after {
    @apply bottom-0 right-0;
    @apply border-r-2 border-b-2 border-dark;
    @apply dark:border-light;
}

.section-header__container:hover::before {
    @apply top-2 left-2;
    @apply border-red;
}

.section-header__container:hover .section-header__text::after {
    @apply bottom-2 right-2;
    @apply border-red;
}

.section-header__container:hover .section-header__text {
    @apply transition-colors duration-300;
    @apply text-red;
}

.section-header__container::before,
.section-header__text::after {
    @apply absolute;
    @apply block;
    @apply transition-all duration-300;

    content: '';
    width: 1.1rem;
    height: 1.1rem;
} */
