@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Work Sans', sans-serif;
        scroll-behavior: smooth;
    }

    body {
        @apply antialiased;
        @apply bg-slate-200 dark:bg-slate-950;
    }

    body.blurred {
        @apply overflow-hidden;
    }

    body.blurred #content {
        @apply blur-sm;
    }

    body.no-scroll {
        @apply overflow-hidden;
    }

    h1, h2, h3, h4, h5, h6, p, span {
        @apply text-black dark:text-white;
    }

    :focus-visible {
        @apply outline-0;
        @apply focus-visible:ring-4 focus-visible:ring-cyan;
    }

    #root {
        @apply flex flex-col;
    }

    // 'no-preference' means user has made no preference known to the device
    // 'reduce' means user has enabled a reduced motion setting on their device
    @media (prefers-reduced-motion: no-preference) {
        a,
        button {
            transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
            transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
            transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 150ms;
        }
    }
}
