@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply text-white;
        font-family: 'Work Sans', sans-serif;
        scroll-behavior: smooth;
    }

    html,
    body,
    #root {
        @apply bg-slate-950;
    }

    body.blurred {
        @apply overflow-hidden;
    }

    body.blurred #content {
        @apply blur-sm;
    }

    #root {
        @apply flex flex-col;
    }

    a,
    button {
        @apply outline-0;
    }
}
