$distanceFromTop: 2rem;

.skip-to-content-link {
    @apply absolute;
    @apply -left-0.5;
    top: $distanceFromTop;

    @apply -translate-x-full;
    @apply focus-visible:translate-x-0;
    @apply z-50;

    @apply block;
    @apply rounded;
    @apply px-6 py-4;

    @apply uppercase;
    @apply text-white;
    @apply text-sm;
    @apply tracking-wide;
    @apply font-semibold;

    @apply bg-black;
}

.header {
    @apply w-full;

    > .header-layout {
        @apply absolute;
        @apply left-0 right-0;
    
        padding-top: $distanceFromTop;
    }

    > .header-layout > .header-container {
        @apply mx-auto;
        @apply max-w-7xl;
        @apply px-8 lg:px-10;
    }

    > .header-layout > .header-container > .header-inner-container {
        @apply mx-auto;
        @apply max-w-2xl lg:max-w-none;    
    }

    > .header-layout > .header-container > .header-inner-container > .header-content {
        @apply flex;
        @apply items-center justify-between;
    }
}

.header-content > nav {
    @apply hidden md:flex;
    @apply gap-x-12;

    > a {
        @apply text-sm;
        @apply tracking-wider;
        @apply uppercase;
    }
}

.header-sliding-layout {
    @apply relative;
    @apply h-auto;
    @apply z-40;

    @apply overflow-hidden;
    @apply pt-2;

    @apply bg-slate-950;
}

.header-sliding-background {
    @apply bg-slate-800;
}

.header-logo-link > a {
    @apply block;
    @apply p-2;
}

.header-navigation-toggle-button {
    @apply md:hidden;
    @apply rounded-3xl;
    @apply px-5 py-2;
    @apply bg-rose;

    @apply uppercase;
    @apply text-white;

    @apply transition-colors;
    @apply duration-300;

    & > div {
        @apply flex;
        @apply items-center justify-between;
        @apply gap-x-4;
    }
}

.content {
    @apply pt-10;
    @apply w-screen;

    @apply text-3xl;
    @apply text-white;
}

.content-layout {
    @apply mx-auto;
    @apply max-w-7xl;

    @apply pt-9;
    @apply px-6 lg:px-8;
}

.content-layout > .content-container {
    @apply mx-auto;
    @apply max-w-2xl lg:max-w-none;
}

.content-container {
    & > h1 {
        @apply font-semibold;
        @apply text-5xl;
        @apply tracking-tighter;
    }
}
